In [1]:
! pip install pandas
! pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.1.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.3/12.3 MB 2.8 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01m
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 KB 3.9 MB/s eta 0:00:00m eta 0:00:010:01
Requirement already satisfied: numpy>=1.22.4 in /home/tanvir/.local/lib/python3.10/site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/tanvir/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, pandas
Successfully installed pandas-2.1.1 tzdata-2023.3
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /home/tanvir/.local/lib/python3.10/site-packages (1.26.0)

In [2]:
import numpy  as np
import pandas as pd

In [10]:
def print_metadata(item):
    print("Type  : ",type(item))
    print("Shape : ",item.shape)
    print(item)

In [15]:
my_numpy_array = np.random.rand(3)
print_metadata(my_numpy_array)

Type  :  <class 'numpy.ndarray'>
Shape :  (3,)
[0.49094061 0.57589904 0.29986476]

In [12]:
## Series Cant have more than 1 column
my_series = pd.Series(my_numpy_array)
print_metadata(my_series)

Type  :  <class 'pandas.core.series.Series'>
Shape :  (3,)
0    0.534561
1    0.746877
2    0.491901
dtype: float64

In [13]:
## Series data can have only one column
## it can have multiple rows but only 1 column
my_series = pd.Series(my_numpy_array,index=['First','Second','Third'])
print_metadata(my_series)

Type  :  <class 'pandas.core.series.Series'>
Shape :  (3,)
First     0.534561
Second    0.746877
Third     0.491901
dtype: float64

In [14]:
print(my_series['First'])
print(my_series['Second'])
print(my_series['Third'])

0.5345613303083263
0.7468773936114336
0.4919008292127307

In [33]:
array_2d = np.random.rand(3,2)
print_metadata(array_2d)

Type  :  <class 'numpy.ndarray'>
Shape :  (3, 2)
[[0.50717583 0.08512105]
 [0.34567095 0.60314364]
 [0.10335754 0.74273385]]

In [34]:
df = pd.DataFrame(array_2d)
df

          0         1
0  0.507176  0.085121
1  0.345671  0.603144
2  0.103358  0.742734

In [35]:
## getting data from tje first row and second column
## in pandas data frame first is column and second is row
print_metadata(df[1][0])

Type  :  <class 'numpy.float64'>
Shape :  ()
0.08512105175007079

In [38]:
## but in numpy the index is reverse, first row second column
print_metadata(array_2d[0][1])

Type  :  <class 'numpy.float64'>
Shape :  ()
0.08512105175007079

0.08512105175007079